## Proyecto SQL: *Familiariz치donos con SQL Alchemy*

In [2]:
import os
import sqlite3
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv

In [3]:
load_dotenv()

True

In [4]:
# Funci칩n para iniciar la conexi칩n 
def connect():
    global engine # Esto nos permite usar una variable global llamada motor
    # definimos en una variable las credenciales de conexion
    connection_string = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}/{os.getenv('DB_NAME')}"
    # definimos el cursor
    engine = create_engine(connection_string).execution_options(autocommit=True)
    engine.connect()
    return engine

connect()

Engine(postgresql://gitpod:***@localhost/sample-db)

In [6]:
# Almacenamos la petici칩n SQL en una variable
tabla_publishers = '''
CREATE TABLE IF NOT EXISTS publishers(
    publisher_id INT NOT NULL,
    name VARCHAR(255) NOT NULL,
    PRIMARY KEY(publisher_id)
);'''
#ejecutamos la peticion
engine.execute(tabla_publishers)

In [7]:
# Almacenamos la peticion sql para crear las tres tablas en una variable
crear_tablas = '''
CREATE TABLE IF NOT EXISTS authors(
    author_id INT NOT NULL,
    first_name VARCHAR(100) NOT NULL,
    middle_name VARCHAR(50) NULL,
    last_name VARCHAR(100) NULL,
    PRIMARY KEY(author_id)
);

CREATE TABLE IF NOT EXISTS books(
    book_id INT NOT NULL,
    title VARCHAR(255) NOT NULL,
    total_pages INT NULL,
    rating DECIMAL(4, 2) NULL,
    isbn VARCHAR(13) NULL,
    published_date DATE,
    publisher_id INT NULL,
    PRIMARY KEY(book_id),
    CONSTRAINT fk_publisher FOREIGN KEY(publisher_id) REFERENCES publishers(publisher_id)
);

CREATE TABLE IF NOT EXISTS book_authors (
    book_id INT NOT NULL,
    author_id INT NOT NULL,
    PRIMARY KEY(book_id, author_id),
    CONSTRAINT fk_book FOREIGN KEY(book_id) REFERENCES books(book_id) ON DELETE CASCADE,
    CONSTRAINT fk_author FOREIGN KEY(author_id) REFERENCES authors(author_id) ON DELETE CASCADE
);'''

engine.execute(crear_tablas)

In [ ]:
insert_data = '''INSERT INTO publishers(publisher_id, name) VALUES (1, 'O Reilly Media');
INSERT INTO publishers(publisher_id, name) VALUES (2, 'A Book Apart');
INSERT INTO publishers(publisher_id, name) VALUES (3, 'A K PETERS');
INSERT INTO publishers(publisher_id, name) VALUES (4, 'Academic Press');
INSERT INTO publishers(publisher_id, name) VALUES (5, 'Addison Wesley');
INSERT INTO publishers(publisher_id, name) VALUES (6, 'Albert&Sweigart');
INSERT INTO publishers(publisher_id, name) VALUES (7, 'Alfred A. Knopf');

-- authors 
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (1, 'Merritt', null, 'Eric');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (2, 'Linda', null, 'Mui');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (3, 'Alecos', null, 'Papadatos');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (4, 'Anthony', null, 'Molinaro');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (5, 'David', null, 'Cronin');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (6, 'Richard', null, 'Blum');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (7, 'Yuval', 'Noah', 'Harari');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (8, 'Paul', null, 'Albitz');

-- books
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (1, 'Lean Software Development: An Agile Toolkit', 240, 4.17, '9780320000000', '2003-05-18', 5);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (2, 'Facing the Intelligence Explosion', 91, 3.87, null, '2013-02-01', 7);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (3, 'Scala in Action', 419, 3.74, '9781940000000', '2013-04-10', 1);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (4, 'Patterns of Software: Tales from the Software Community', 256, 3.84, '9780200000000', '1996-08-15', 1);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (5, 'Anatomy Of LISP', 446, 4.43, '9780070000000', '1978-01-01', 3);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (6, 'Computing machinery and intelligence', 24, 4.17, null, '2009-03-22', 4);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (7, 'XML: Visual QuickStart Guide', 269, 3.66, '9780320000000', '2009-01-01', 5);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (8, 'SQL Cookbook', 595, 3.95, '9780600000000', '2005-12-01', 7);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (9, 'The Apollo Guidance Computer: Architecture And Operation (Springer Praxis Books / Space Exploration)', 439, 4.29, '9781440000000', '2010-07-01', 6);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (10, 'Minds and Computers: An Introduction to the Philosophy of Artificial Intelligence', 222, 3.54, '9780750000000', '2007-02-13', 7);

-- book authors
INSERT INTO book_authors (book_id, author_id) VALUES (1, 1);
INSERT INTO book_authors (book_id, author_id) VALUES (2, 8);
INSERT INTO book_authors (book_id, author_id) VALUES (3, 7);
INSERT INTO book_authors (book_id, author_id) VALUES (4, 6);
INSERT INTO book_authors (book_id, author_id) VALUES (5, 5);
INSERT INTO book_authors (book_id, author_id) VALUES (6, 4);
INSERT INTO book_authors (book_id, author_id) VALUES (7, 3);
INSERT INTO book_authors (book_id, author_id) VALUES (8, 2);
INSERT INTO book_authors (book_id, author_id) VALUES (9, 4);
INSERT INTO book_authors (book_id, author_id) VALUES (10, 1);'''


engine.execute(insert_data)

In [10]:
# Creamos el dataframe de la tabla "books", e seleccionan las columnas de la tabla, el motor de conexi칩n y se definen las columnas del ddf.
df = pd.read_sql('SELECT book_id, title, total_pages, rating, isbn, published_date, publisher_id FROM books', engine, columns=['book_id', 'title', 'total_pages', 'rating', 'isbn', 'published_date', 'publisher_id'])
df

,book_id,title,total_pages,rating,isbn,published_date,publisher_id
0,1,Lean Software Development: An Agile Toolkit,240,4.17,9780320000000,2003-05-18,5
1,2,Facing the Intelligence Explosion,91,3.87,None,2013-02-01,7
2,3,Scala in Action,419,3.74,9781940000000,2013-04-10,1
3,4,Patterns of Software: Tales from the Software ...,256,3.84,9780200000000,1996-08-15,1
4,5,Anatomy Of LISP,446,4.43,9780070000000,1978-01-01,3
5,6,Computing machinery and intelligence,24,4.17,None,2009-03-22,4
6,7,XML: Visual QuickStart Guide,269,3.66,9780320000000,2009-01-01,5
7,8,SQL Cookbook,595,3.95,9780600000000,2005-12-01,7
8,9,The Apollo Guidance Computer: Architecture And...,439,4.29,9781440000000,2010-07-01,6
9,10,Minds and Computers: An Introduction to the Ph...,222,3.54,9780750000000,2007-02-13,7

### 1. Test SQL Celia: Modificar tabla, agregar columna, introducir datos y realizar b칰squeda

In [11]:
# A침adimos una columna en la tabla "books"
engine.execute("ALTER TABLE books ADD COLUMN author_id INT")

In [12]:
# A침adimos datos en la nueva columna 
update_books= '''
               UPDATE books
SET author_id = 2
WHERE book_id = 1;
              UPDATE books
SET author_id = 5
WHERE book_id = 2;
UPDATE books
SET author_id = 7
WHERE book_id = 3;
               UPDATE books
SET author_id = 8
WHERE book_id = 4;
               UPDATE books
SET author_id = 6
WHERE book_id = 5;
               UPDATE books
SET author_id = 5
WHERE book_id = 6;
               UPDATE books
SET author_id = 1
WHERE book_id = 7;
               UPDATE books
SET author_id = 3
WHERE book_id = 8;
               UPDATE books
SET author_id = 7
WHERE book_id = 9;
               UPDATE books
SET author_id = 4
WHERE book_id = 10;'''
engine.execute(update_books)

In [13]:
# Modificamos el df anterior para albergar la nueva columna y datos 
df = pd.read_sql('SELECT book_id, title, total_pages, rating, isbn, published_date, publisher_id, author_id FROM books', engine, columns=['book_id', 'title', 'total_pages', 'rating', 'isbn', 'published_date', 'publisher_id', 'author_id' ])
display(df)

,book_id,title,total_pages,rating,isbn,published_date,publisher_id,author_id
0,1,Lean Software Development: An Agile Toolkit,240,4.17,9780320000000,2003-05-18,5,2
1,2,Facing the Intelligence Explosion,91,3.87,None,2013-02-01,7,5
2,3,Scala in Action,419,3.74,9781940000000,2013-04-10,1,7
3,4,Patterns of Software: Tales from the Software ...,256,3.84,9780200000000,1996-08-15,1,8
4,5,Anatomy Of LISP,446,4.43,9780070000000,1978-01-01,3,6
5,6,Computing machinery and intelligence,24,4.17,None,2009-03-22,4,5
6,7,XML: Visual QuickStart Guide,269,3.66,9780320000000,2009-01-01,5,1
7,8,SQL Cookbook,595,3.95,9780600000000,2005-12-01,7,3
8,9,The Apollo Guidance Computer: Architecture And...,439,4.29,9781440000000,2010-07-01,6,7
9,10,Minds and Computers: An Introduction to the Ph...,222,3.54,9780750000000,2007-02-13,7,4

### 2. Test Celia (filtrado de datos)

In [14]:
# Definimos consulta SQL

# Buscamos los libros del autor con id = 5
libros = '''
SELECT title 
FROM books 
WHERE author_id = 5
'''
# Buscamos el nombre completo del autor con id = 5
autor = '''
SELECT first_name, middle_name, last_name 
FROM authors 
WHERE author_id = 5
'''
# Ejecutamos la consulta
resultado_busqueda = engine.execute(libros)
resultado_busqueda2 = engine.execute(autor)

# Iteramos sobre resultado_busqueda para extraer los resultados de la petici칩n sobre la tabla 'books'
for fila in resultado_busqueda:
    print(fila['title'])
# Iteramos sobre resultado_busqueda2 para extraer los resultados de la petici칩n sobre la tabla 'authors'
for fila in resultado_busqueda2:
    first = fila['first_name']
    middle = fila['middle_name']
    last = fila['last_name']

# definimos un condicional para imprimir correctamente los nombres con un solo apellido
if middle is None:
    print(first, last)
else:
    print(first,middle, last)

Facing the Intelligence Explosion
Computing machinery and intelligence
David Cronin

*Resumen y Conclusiones finales:*

- *En esta pr치ctica se realiz칩 una conexi칩n a una base de datos PostgreSQL usando SQLAlchemy en Python. Primero, se crearon cuatro tablas: publishers, authors, books y book_authors, asegurando las relaciones necesarias con claves primarias y for치neas.*

- *Luego, se insertaron datos en cada tabla para representar un cat치logo de libros con sus respectivos autores y editoriales.*

- *Posteriormente, se a침adi칩 una columna author_id a la tabla books y se actualizaron sus datos.*

- *Finalmente, se realizaron consultas para extraer informaci칩n espec칤fica de la base de datos y se generaron dataframes con los resultados obtenidos.*